<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>URL Shortening Service</title>
  <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
  <div id="root">
    <h1>URL Shortening Service</h1>
    <p className="tab-selector">
      <button onclick="setTab(0)">Create</button>
      <button onclick="setTab(1)">Get</button>
      <button onclick="setTab(2)">Edit</button>
      <button onclick="setTab(3)">Delete</button>
      <button onclick="setTab(4)">Full Stats</button>
    </p>
    <p>
      <label for="url">URL: </label>
      <input type="url" name="url" id="url" />
      <label for="code">Code: </label>
      <input type="text" name="code" id="code" maxlength=6 />
    </p>
    <div id="all-pages">
      <!-- Create new URL-->
      <div class="page" data-id=0 data-uses-url>
        <button onclick="Actions.createNewURL()">Create Shortened URL</button>
      </div>
      <!-- Get URL -->
      <div class="page" data-id=1 data-uses-code>
        NOT IMPLEMENTED
      </div>
      <!-- Edit URL-->
      <div class="page" data-id=2 data-uses-url data-uses-code>
        NOT IMPLEMENTED
      </div>
      <!-- Delete URL -->
      <div class="page" data-id=3 data-uses-code>
        NOT IMPLEMENTED
      </div>
      <!-- Get full stats -->
      <div class="page" data-id=4 data-uses-code>
        NOT IMPLEMENTED
      </div>
    </div>
    <pre id="output">
      After sending a request, the output goes here
    </pre>
  </div>

  <script>
    // Front-end helpers
    // Relevant page elements
    /** @type {HTMLInputElement} URL_INPUT
     * The input field for entering a URL*/
    const URL_INPUT = document.getElementById('url') || panic("I can't find the URL input");
    /** @type {HTMLInputElement} 
     * The input field for entering the shortened URL's code */
    const CODE_INPUT = document.getElementById('code') || panic("I can't find the code input");
    /** @type {HTMLElement} */
    const DISP = document.getElementById('output') || panic("Can't find the display");
    /** @type {Map<number, HTMLElement>} PAGES 
     * The pages displayed when selecting tabs */
    const PAGES = new Map();
    for (const e of document.getElementsByClassName('page')) {
      const pos = parseInt(e.dataset.id);
      if (pos === undefined) panic('A page is missing a "data-id"');
      PAGES.set(pos, e);
    }


    /**
     * Halts execution with an alert and console log
     * @param {string} msg
     * @return {never}
     */
    function panic(msg) {
      console.error(msg);
      alert(msg);
      throw new Error(msg);
    }

    function getUrl() {
      if (URL_INPUT.checkValidity()) {
        return elem.value;
      }
      panic('Malformed URL, plz fix');
    }

    function getCode() {
      if (CODE_INPUT.checkValidity()) {
        return elem.value;
      }
      panic('Code must be 6-characters long with ONLY numbers and upper/lowercase letters');
    }

    function setTab(id) {
      // Hide all pages except the selected one
      const correctPage = PAGES.get(id) || panic(`No page has data-id=${id}`);
      PAGES.forEach(e => e.classList.add('hidden'));
      correctPage.classList.remove('hidden');
      // Activate the relevant inputs
      URL_INPUT.disabled = !correctPage.hasAttribute('data-uses-url');
      CODE_INPUT.disabled = !correctPage.hasAttribute('data-uses-code');
      console.log(URL_INPUT.disabled,CODE_INPUT.disabled)
    }

    function display(text) {
      DISP.textContent = text;
    }

    class Actions {
      static async createNewURL() {
        const url = getUrl();
        const res = await fetch('/shorten', {
          method: 'POST',
          body: JSON.stringify({'url': getUrl()})
        });
        if (res.status !== 201) {
          display(`Error ${res.status}: ${await res.text()}`)
          return;
        }

        display(await JSON.stringify(await res.json(), undefined, 2));
      }
    }

    // Main
    setTab(0);

  </script>
</body>
</html>
